.advantages-section {
  padding-left: 20px;
  padding-right: 70px;
  padding-top: 38px;
  background-color: #fff5f6;
  padding-bottom: 145px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section__icon {
  &--1 {
    width: 33px;
    height: 50px;
  }

  &--2 {
    width: 50px;
    height: 50px;
  }

  &--3 {
    width: 44px;
    height: 50px;
  }
}

.advantages-section__header {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  max-height: 56px;
  margin-bottom: 14px;
  text-align: left;
  margin-top: 16px;
}

.advantages-section__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 170%;
  color: #000000;
  max-width: 230px;
  margin-bottom: 36px;
  text-align: left;

  :last-child {
    bottom: 36px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-left: 36px;
    padding-bottom: 246px;
  }

  .advantages-section__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    justify-content: center;
  }

  .advantages-section__item {
    margin-top: 38px;
  }

  .advantages-section__header {
    margin-top: 36px;
    margin-bottom: 13px;
    font-size: 3rem;
    line-height: 55px;
  }

  .advantages-section__description {
    font-size: 0.87rem;
    line-height: 174%;
    max-width: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section {
    padding-left: 115px;
    padding-bottom: 310px;
  }

  .advantages-section__header {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 3.62rem;
    line-height: 66px;
  }

  .advantages-section__description {
    font-size: 1rem;
    line-height: 176%;
    letter-spacing: 0.02em;
    max-width: 330px;
  }
}
