
.contacts{
    margin: 0 auto;
    background-color: rgba(255, 245, 246, 1);

    &__title{
      display: none;
    }

  &__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: inherit;
  }
  &__list--element{
    max-width: 220px;
    height: 427px;
    background-color: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    margin: 0 auto;
    position: relative;
    top: -84px;
}
  &__list--page{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 21px;
  }
  &__paragraf1{
    padding-top: 43px;
    padding-bottom: 25px;
  }
  &__paragraf1--cafe{
    background: #F0D1A5;
    border-radius: 4px;
    width: 80px;
    height: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1,25;
  }
  &__paragraf1--foodtruck{
    background: #C2E297;
    border-radius: 4px;
    width: 130px;
    height: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1,25;
  }
  &__paragraf1--location{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
  }
  &__paragraf1--text{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
color: #907E82;
  }
  &__paragraf2{
    border-top: 1px solid #E1E1E1;
    border-bottom:1px solid #E1E1E1 ;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__paragraf2--days{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
color: #000000;
  }
  &__paragraf2--hours{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
color:  #FFA5BA;
  }
  &__paragraf3{
    padding-top: 25px;
  }
  &__paragraf3--element{
    text-decoration: none;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color:#907E82 ;
  }
  &__button{
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    max-width: 220px;
    padding: inherit;
  }

  &__button--list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    
  }
  &__button--element{
    width: 161px;
height: 44px;
background: #FFFFFF;
border-radius: 22px;
color: #D41443;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
align-items: center;
  }
  &__button--element:hover{
    background:#D41443;
    color: #FFFFFF;
  }
  &__button--element:focus{
    background:#D41443;
    color: #FFFFFF;
  }
}