.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;

  &__description {
    background-color: #fafafa;
    margin: 30px 20px;
    padding-inline: 135px;
    padding-top: 43px;
    padding-bottom: 26px;
    position: relative;

    @media (min-width: $tablet) {
      font-size: 0.87px;
      line-height: 2.14;
      padding-inline: 150px;
      margin: 30px 80px;
    }

    @media (min-width: $laptop) {
      font-size: 1rem;
      line-height: 1.87;
      padding-inline: 170px;
      margin: 30px 177px;
    }

    &--text {
      font-family: $MainFont;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 2.55;
      color: $FoMainBlackColor;
      text-align: center;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 28px,
        #e1e1e1 30px,
        transparent 28px
      );

      &::before {
        display: block;
        position: absolute;
        background-image: url('/src/images/Customer-reviews/quotes-min.png');
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        width: 54px;
        height: 40px;
        top: -16px;
        z-index: -1;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url('/src/images/Customer-reviews/quotes@x2-min.png');
        }
      }
    }
  }

  &__client {
    font-size: 0.075rem;
    font-weight: 500;
    line-height: 1.85;
    position: relative;
    margin-top: 22px;

    &::before {
      content: '...';
      font-size: 1.56rem;
      color: $HvMainHoverColor;
      display: block;
      position: absolute;
      letter-spacing: 10px;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%);
    }

    &::after {
      background-image: url('/src/images/spirte.svg#icon-dots');
      background-repeat: no-repeat;
      width: 32px;
      height: 4px;
      position: absolute;
      top: -18px;
      left: 42px;

      @media (min-width: 768px) {
        top: -13px;
      }

      @media (min-width: 1280px) {
        top: -15px;
      }
    }
  }

  &__options {
    margin-top: 30px;
    display: flex;
    gap: 18px;
    margin-bottom: 170px;

    &--svg {
      width: 12px;
      height: 12px;
    }
  }
}
