.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 80px;

  @media (min-width: 768px) {
    padding-top: 121px;
  }

  @media (min-width: 1200px) {
    padding-top: 123px;
  }

  margin-inline: 20px;

  @media (min-width: 768px) {
    margin-inline: 74px;
  }

  @media (min-width: 1200px) {
    margin-inline: 177px;
  }

  &--img {
    width: 85px;
    height: 85px;
    margin-bottom: 29px;
  }

  &--description {
    background-color: #E5E5E5;
    position: relative;
    margin-bottom: 52px;
    margin: 0 20px 30px 20px;
    padding-bottom: 20px;

    &__text {
      margin: 0 auto;
      font-family: $MainFont;
      font-size: 12px;
      font-weight: 500;
      line-height: 2.55;
      color: $FoMainBlackColor;
      text-align: center;
      margin-top: 43px;
      z-index: 3;

      width: calc(100% - 23px);

      @media (min-width: 768px) {
        font-size: 14px;
        line-height: 2.14;
        width: calc(100% - 64px);
      }

      @media (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.87;
      }
    }

    &__quotes {
      width: 54px;
      height: 40px;
      position: absolute;
      top: 28px;
      left: 62px;
      z-index: 0;
    }
  }

  &--client {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.85;
    position: relative;
  }

  &--client::before {
    // background-image: url('./images/spirte.svg#icon-dots');
    background-repeat: no-repeat;
    width: 32px;
    height: 4px;
    position: absolute;
    top: -18px;
    left: 42px;

    @media (min-width: 768px) {
      top: -13px;
    }

    @media (min-width: 1200px) {
      top: -15px;
    }
  }

  &--options {
    margin-top: 30px;
    display: flex;
    gap: 18px;

    &__svg {
      width: 12px;
      height: 12px;
    }
  }
}