.gallery {
  margin: 0;
  margin-top: -48px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);

  &__img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: $tablet) {
  .gallery {
    margin-top: -106px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: $laptop),
  screen and (min-resolution: 192dpi) and (min-width: $laptop),
  screen and (min-resolution: 2dppx) and (min-width: $laptop) {
  .gallery {
    margin-top: -171px;
  }
}
