@import './partials/globals';
$FoTittlePinkColor: rgba(212, 20, 67, 1);

.header {
  background-color: $BgMainPinkColor;
  padding-top: 6px;
  height: 502px;

  @media screen and (min-width: $tablet) {
    height: 399px;
    padding-top: 37px;
  }

  @media screen and (min-width: $laptop) {
    height: 665px;
    padding-top: 37px;
  }
  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }
    @media screen and (min-width: $tablet) {
      width: $tablet;
      padding: 0 34px;
    }
    @media screen and (min-width: $laptop) {
      width: $laptop;
    }
  }
  &__btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 6;
    @media screen and (min-width: $tablet) {
      margin-bottom: 9px;
    }
    @media screen and (min-width: $laptop) {
      display: none;
    }
  }

  &__btn-buy {
    display: none;

    @media screen and (min-width: $tablet) {
      z-index: 3;
      display: block;
      padding: 7px 0;
      width: 160px;
      height: 44px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: $FoDarkPinkColor;
      border-radius: 22px;
      background: $FoMainWhiteColor;
      margin-left: 30px;
      &:hover,
      &:focus {
        background-color: $HvMecondaryHoverColor;
      }
    }
    @media screen and (min-width: $laptop) {
    }
  }

  &__icon {
    display: inline;
  }

  &__logo {
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $laptop) {
    }
  }

  &__box {
    position: absolute;
    margin-top: 137px;
    margin-bottom: 160px;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      margin-top: 15px;
      margin-bottom: 173px;
    }
    @media screen and (min-width: $laptop) {
    }
  }
  &__flexicon {
    display: flex;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    fill: var(--icon-fill);
  }

  &__tittle {
    margin-bottom: 19px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 26px;
    }
    @media screen and (min-width: $laptop) {
    }

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $FoMainWhiteColor;
    max-width: 218px;
    z-index: 3;

    &--pink {
      font-size: 48px;
      line-height: 46px;
      color: $FoTittlePinkColor;
      @media screen and (min-width: $tablet) {
        font-size: 34px;
        line-height: 31px;
      }

      @media screen and (min-width: $laptop) {
      }
    }
  }
  &__button {
    display: inline;
    padding: 7px 15px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: $FoMainWhiteColor;
    border-radius: 20px;
    background: $FoDarkPinkColor;
    &:hover,
    &:focus {
      background-color: $HvMainHoverColor;
    }

    &--white {
      color: $FoDarkPinkColor;
      background: $FoMainWhiteColor;
      &:hover,
      &:focus {
        background-color: $HvMecondaryHoverColor;
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  &__ice {
    animation: 1s ease-out 0s 1 slide;

    position: absolute;
    top: 77px;
    left: 36px;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
      top: -6px;
      left: 307px;
    }
    @media screen and (min-width: $laptop) {
      top: 15px;
      left: 475px;
    }
  }
}

/* MOBILE MENU */

.mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 60px 21px;
  background-color: $BgDarkPinkColor;
  z-index: 999;

  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  text-align: center;
  &__details {
    text-align: left;
  }

  &.is-open {
    transform: translateX(0);
  }
  &__closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  &__btn-buy {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $FoDarkPinkColor;
    background: $FoMainWhiteColor;
    border-radius: 22px;
    width: 209px;
    height: 44px;
    margin-bottom: 32px;
  }
  &__icon {
    display: inline;
    margin-left: 25px;
  }
  &__anchor {
    display: block;
    font-style: normal;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $FoMainWhiteColor;
    margin-bottom: 23px;
    &--active {
      color: $FoDarkPinkColor;
      margin-bottom: 22px;
    }
    &:hover,
    &:focus {
      color: $FoDarkPinkColor;
    }
  }
}
