@import './partials/globals';
$FoTittlePinkColor: rgba(212, 20, 67, 1);

.header {
  background-color: $BgMainPinkColor;
  padding-top: 6px;
  height: 502px;

  @media screen and (min-width: $tablet) {
    height: 399px;
    padding-top: 37px;
  }

  @media screen and (min-width: $laptop) {
    height: 665px;
    padding-top: 37px;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }

    @media screen and (min-width: $tablet) {
      width: $tablet;
      padding: 0 34px;
    }

    @media screen and (min-width: $laptop) {
      width: $laptop;
    }
  }

  &__btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 6;

    @media screen and (min-width: $tablet) {
      margin-bottom: 9px;
    }

    @media screen and (min-width: $laptop) {
      display: none;
    }
  }

  &__desktopmenu {
    display: none;

    @media screen and (min-width: $laptop) {
      z-index: 2;
      display: flex;
      gap: 35px;
    }
  }

  &__desktopmenu-anchor {
    font-family: $MainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 21px;
    color: $FoMainWhiteColor;

    &--active {
      color: $FoDarkPinkColor;
    }
  }

  &__btn-buy {
    display: none;

    @media screen and (min-width: $tablet) {
      z-index: 3;
      display: block;
      padding: 7px 0;
      width: 160px;
      height: 44px;
      font-family: $MainFont;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 21px;
      color: $FoDarkPinkColor;
      border-radius: 22px;
      background: $FoMainWhiteColor;
      margin-left: 30px;

      &:hover,
      &:focus {
        background-color: $HvMecondaryHoverColor;
      }
    }

    @media screen and (min-width: $laptop) {
    }
  }

  &__icon {
    display: inline;
  }

  &__logo {
    @media screen and (min-width: $tablet) {
    }

    @media screen and (min-width: $laptop) {
    }
  }

  &__box {
    position: absolute;
    margin-top: 137px;
    margin-bottom: 160px;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      margin-top: 15px;
      margin-bottom: 173px;
    }

    @media screen and (min-width: $laptop) {
      margin-top: 84px;
      margin-bottom: 293px;
      margin-left: 115px;
    }
  }

  &__flexicon {
    display: flex;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    fill: var(--icon-fill);
  }

  &__tittle {
    margin-bottom: 19px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 1.62rem;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $FoMainWhiteColor;
    max-width: 218px;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
      font-size: 1.37rem;
      line-height: 26px;
      max-width: 162px;
    }

    @media screen and (min-width: $laptop) {
      margin-bottom: 25px;
      font-size: 2.37rem;
      line-height: 44px;
      max-width: 277px;
    }

    &--pink {
      font-size: 3rem;
      line-height: 46px;
      color: $FoTittlePinkColor;

      @media screen and (min-width: $tablet) {
        font-size: 2.12rem;
        line-height: 31px;
      }

      @media screen and (min-width: $laptop) {
        font-size: 3.62rem;
        line-height: 53px;
      }
    }
  }
  &__button {
    display: inline;
    padding: 7px 15px;
    font-family: $MainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 0.5rem;
    line-height: 10px;
    color: $FoMainWhiteColor;
    border-radius: 20px;
    background: $FoDarkPinkColor;

    @media screen and (min-width: $laptop) {
      padding: 0 22px;
      height: 40px;
      font-size: 0.87rem;
      line-height: 18px;
    }

    &:hover,
    &:focus {
      background-color: $HvMainHoverColor;
    }

    &--white {
      color: $FoDarkPinkColor;
      background: $FoMainWhiteColor;
      &:hover,
      &:focus {
        background-color: $HvMecondaryHoverColor;
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  &__paragraph {
    display: none;
    width: 119px;
    font-family: $MainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 0.5rem;
    line-height: 12px;
    color: $FoMainWhiteColor;
    position: absolute;

    @media screen and (min-width: $tablet) {
      display: block;
      top: 255px;
      left: 154px;
    }

    @media screen and (min-width: $laptop) {
      top: 448px;
      left: 295px;
      width: 200px;
      font-size: 0.87rem;
      line-height: 140%;
    }
  }

  &__btn-readmore {
    display: none;
    position: absolute;

    @media screen and (min-width: $tablet) {
      display: block;
      width: 18px;
      height: 18px;
      padding: 0;
      top: 310px;
      left: 154px;
    }

    @media screen and (min-width: $laptop) {
      width: 26px;
      height: 26px;
      top: 546px;
      left: 295px;
    }
  }

  &__ice {
    animation: 1s ease-out 0s 1 slide;
    position: absolute;
    top: 77px;
    left: 36px;

    @media screen and (min-width: $mobile) {
    }

    @media screen and (min-width: $tablet) {
      top: -6px;
      left: 307px;
    }

    @media screen and (min-width: $laptop) {
      top: 15px;
      left: 475px;
    }
  }

  &__cafes {
    position: absolute;
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      top: 59px;
      right: 34px;
    }

    @media screen and (min-width: $laptop) {
      top: 119px;
      right: 97px;
    }
  }

  &__foodtrucks {
    position: absolute;
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      top: 115px;
      right: 34px;
    }

    @media screen and (min-width: $laptop) {
      top: 211px;
      right: 97px;
    }
  }

  &__milk {
    position: absolute;
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      top: 208px;
      left: 34px;
    }

    @media screen and (min-width: $laptop) {
      top: 392px;
      left: 77px;
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  &__woman {
    animation: 1s ease-out 0s 1 animatezoom;
    position: absolute;
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      top: 229px;
      right: 34px;
    }

    @media screen and (min-width: $laptop) {
      top: 396px;
      right: 109px;
    }
  }
}

/* MOBILE MENU */

.mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 60px 21px;
  background-color: $BgDarkPinkColor;
  z-index: 999;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  text-align: center;

  &__details {
    text-align: left;
  }

  &.is-open {
    transform: translateX(0);
  }

  &__closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  &__btn-buy {
    font-family: $MainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 21px;
    color: $FoDarkPinkColor;
    background: $FoMainWhiteColor;
    border-radius: 22px;
    width: 209px;
    height: 44px;
    margin-bottom: 32px;
  }

  &__icon {
    display: inline;
    margin-left: 25px;
  }

  &__anchor {
    display: block;
    font-style: normal;
    font-family: $MainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 18px;
    color: $FoMainWhiteColor;
    margin-bottom: 23px;

    &--active {
      color: $FoDarkPinkColor;
      margin-bottom: 22px;
    }

    &:hover,
    &:focus {
      color: $FoDarkPinkColor;
    }
  }
}
