.products-item {
  margin: 0 auto;
  background-color: #ffb8ca;
  max-width: 100%;
  height: 30rem;
  margin: 0 auto;
  border-radius: 24px;

  // @media (min-width: $tablet-size) {
  // }

  // @media (min-width: $detskop-size) {
  // }
}
