/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './example';
@import './about';


@import './advantages';

// @import './advantages';


@import './contacts';
@import './customer-reviews';
@import './footer';
@import './gallery';
@import './hero-header';
@import './products';
@import './partials/button';
@import './partials/typography';
@import './partials/globals';
@import './partials/container';
