@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h4,
h5,
p,
ul,
address,
fieldset,
textarea,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  resize: none;
}

body {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.container {
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
.button__mobilemenu {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 0;
  padding: inherit;
  width: 100%;
}
.contacts__list--element {
  width: 100%;
  width: 220px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  margin: 0 auto;
  position: relative;
  top: -84px;
}
@media (min-width: 768px) {
  .contacts__list--element {
    width: 220px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .contacts__list--element {
    width: 330px;
  }
}
.contacts__list--page {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 43px;
  padding-bottom: 43px;
}
@media (min-width: 768px) {
  .contacts__list--page {
    padding-left: 31px;
    padding-right: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .contacts__list--page {
    padding-left: 44px;
    padding-right: 54px;
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
.contacts__paragraf1 {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .contacts__paragraf1 {
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf1 {
    padding-bottom: 32px;
  }
}
.contacts__paragraf1--cafe {
  background: #F0D1A5;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 86;
}
@media (min-width: 768px) {
  .contacts__paragraf1--cafe {
    width: 73px;
    height: 28px;
    font-size: 16px;
  }
}
.contacts__paragraf1--foodtruck {
  background: #C2E297;
  border-radius: 4px;
  width: 130px;
  height: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 86;
}
@media (min-width: 768px) {
  .contacts__paragraf1--foodtruck {
    width: 138px;
    height: 28px;
    font-size: 16px;
  }
}
.contacts__paragraf1--location {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.contacts__paragraf1--text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #907E82;
}
.contacts__paragraf2 {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 25px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .contacts__paragraf2 {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf2 {
    padding-top: 32px;
    padding-bottom: 17px;
  }
}
.contacts__paragraf2--days {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.contacts__paragraf2--hours {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFA5BA;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .contacts__paragraf2--hours {
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .contacts__paragraf2--hours {
    padding-bottom: 15px;
  }

}

.button__readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 44px;
  background: #fff;
  border: none;
  border-radius: 22px;
  color: #d41443;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
}

@media (min-width: 768px) {
  .contacts__paragraf3 {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf3 {
    padding-top: 32px;
  }
}
.contacts__paragraf3--element {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907E82;

}

.button__readmore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 10px;
  text-align: center;
  max-width: 220px;
  padding: inherit;
}
@media (min-width: 768px) {
  .contacts__button {
    flex-wrap: nowrap;
  }
}
.contacts__button--list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: center;
  align-items: center;
  width: 161.45px;
  height: 44px;
  background: #d41443;
  border: none;
  border-radius: 22px;
  color: #fff;
}

.contacts__button--element {
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 161px;

  height: 44px;
  background: #fff;
  border: none;
  border-radius: 22px;
  color: #d41443;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161.45px;
  height: 44px;
  background: #fff;
  border: none;
  border-radius: 22px;
  color: #d41443;
}

@media (min-width: 1200px) {
  .contacts__button--element {
    width: 180px;
  }
}
.contacts__button--element:hover .contacts__button--element:focus {
  background: #D41443;
  color: #FFFFFF;

}
.contacts__button--icon {
  fill: currentColor;
  width: 4px;
  height: 8px;
}

.section-bgrcolor {
  background-color: #fff5f6;
  padding-top: 125px;
  padding-bottom: 66px;
}

.about {
  background-color: #fff5f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/About/Milk-mobile-min.png);
  background-repeat: no-repeat;
  background-position-y: 84%;
  background-size: 100%;
}
.about__label {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
.about__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 26px;
  padding-right: 61px;
  padding-left: 59px;
}
.about__important {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  padding: 46px 50px 0 50px;
}
.about__comment {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  padding: 47px 50px 0 50px;
  margin-bottom: 47px;
}

.bttn {
  display: flex;
  justify-content: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background: url(../images/About/Milk-mobile@2x-min.png);
    background-repeat: no-repeat;
    background-position-y: 84%;
    background-size: 100%;
  }
}
.vector {
  height: 8px;
  width: 14px;
  margin-left: 13px;
  margin-right: 37px;
}

hr {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .about {
    background-color: #fff5f6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 39px;
    background: none;
    align-items: flex-start;
    position: relative;
  }
  .about__label {
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 16px;
    min-width: 100%;
  }
  .about__title {
    font-size: 48px;
    line-height: 55px;
    padding-bottom: 50px;
    min-width: 100%;
  }
  .about__important {
    font-size: 14px;
    line-height: 176%;
    padding: 0 36px 0 0;
    flex: 0 0 50%;
    position: absolute;
    margin-left: 50%;
  }
  .about__comment {
    font-size: 14px;
    line-height: 176%;
    padding: 0 36px 0 0;
    width: 50%;
    flex: 0 0 50%;
    position: absolute;
    margin-left: 50%;
    margin-top: 128px;
  }
  .bttn {
    display: inline;
    margin-left: 50%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about {
    background: none;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    background-color: #fff5f6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 65px;
    background: none;
    align-items: flex-start;
    position: relative;
    background: url(../images/About/Milk-desktop-min.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background: url(../images/About/Milk-desktop@2x-min.png);
    background-repeat: no-repeat;
    background-position-y: 84%;
    background-size: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .about__label {
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 16px;
    min-width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    line-height: 66px;
    padding-bottom: 55px;
    min-width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .about__important {
    font-size: 16px;
    line-height: 176%;
    padding: 0 117px 0 0;
    flex: 0 0 50%;
    position: absolute;
    margin-left: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .about__comment {
    font-size: 14px;
    line-height: 194%;
    padding: 0 117px 0 0;
    width: 50%;
    flex: 0 0 50%;
    position: absolute;
    margin-left: 50%;
    margin-top: 128px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .bttn {
    display: flex;
    margin-left: 90px;
    margin-top: -100px;
  }
}
.advantages-section {
  padding-left: 20px;
  padding-right: 70px;
  padding-top: 38px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-left: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-section {
    padding-left: 115px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section__item {
    margin-top: 38px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section__icon--1 {
  width: 33px;
  height: 50px;
}
.advantages-section__icon--2 {
  width: 50px;
  height: 50px;
}
.advantages-section__icon--3 {
  width: 44px;
  height: 50px;
}

.advantages-section__header {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  max-height: 56px;
  margin-bottom: 14px;
  text-align: left;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .advantages-section__header {
    margin-top: 36px;
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-section__header {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 66px;
  }
}
.advantages-section__description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  max-width: 230px;
  margin-bottom: 36px;
  text-align: left;
}
.advantages-section__description :last-child {
  bottom: 36px;
}

@media screen and (min-width: 768px) {
  .advantages-section__description {
    font-size: 14px;
    line-height: 174%;
    max-width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-section__description {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    max-width: 330px;
  }
}
.contacts {
  margin: 0 auto;
  background-color: rgb(255, 245, 246);
}
.contacts__title {
  display: none;
}
.contacts__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 0;
  padding: inherit;
  width: 100%;
}
.contacts__list--element {
  width: 100%;
  width: 220px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  margin: 0 auto;
  position: relative;
  top: -84px;
}
@media (min-width: 768px) {
  .contacts__list--element {
    width: 220px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .contacts__list--element {
    width: 330px;
  }
}
.contacts__list--page {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 43px;
  padding-bottom: 43px;
}
@media (min-width: 768px) {
  .contacts__list--page {
    padding-left: 31px;
    padding-right: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .contacts__list--page {
    padding-left: 44px;
    padding-right: 54px;
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
.contacts__paragraf1 {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .contacts__paragraf1 {
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf1 {
    padding-bottom: 32px;
  }
}
.contacts__paragraf1--cafe {
  background: #F0D1A5;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 86;
}
@media (min-width: 768px) {
  .contacts__paragraf1--cafe {
    width: 73px;
    height: 28px;
    font-size: 16px;
  }
}
.contacts__paragraf1--foodtruck {
  background: #C2E297;
  border-radius: 4px;
  width: 130px;
  height: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 86;
}
@media (min-width: 768px) {
  .contacts__paragraf1--foodtruck {
    width: 138px;
    height: 28px;
    font-size: 16px;
  }
}
.contacts__paragraf1--location {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.contacts__paragraf1--text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #907E82;
}
.contacts__paragraf2 {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 25px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .contacts__paragraf2 {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf2 {
    padding-top: 32px;
    padding-bottom: 17px;
  }
}
.contacts__paragraf2--days {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.contacts__paragraf2--hours {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFA5BA;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .contacts__paragraf2--hours {
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .contacts__paragraf2--hours {
    padding-bottom: 15px;
  }
}
.contacts__paragraf3 {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .contacts__paragraf3 {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf3 {
    padding-top: 32px;
  }
}
.contacts__paragraf3--element {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907E82;
}
.contacts__button {
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 220px;
  padding: inherit;
}
@media (min-width: 768px) {
  .contacts__button {
    flex-wrap: nowrap;
  }
}
.contacts__button--list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
.contacts__button--element {
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 161px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 22px;
  color: #D41443;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
}
@media (min-width: 1200px) {
  .contacts__button--element {
    width: 180px;
  }
}
.contacts__button--element:hover .contacts__button--element:focus {
  background: #D41443;
  color: #FFFFFF;
}
.contacts__button--icon {
  fill: currentColor;
  width: 4px;
  height: 8px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
@media (min-width: 768px) {
  .reviews {
    padding-top: 121px;
  }
}
@media (min-width: 1280px) {
  .reviews {
    padding-top: 123px;
  }
}
.reviews--description {
  background-color: #fafafa;
  position: relative;
  margin: 30px 20px;
  padding-inline: 65px;
  padding-top: 43px;
  padding-bottom: 26px;
}
.reviews__text {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.55;
  color: #000000;
  text-align: center;
}
.reviews__text::before {
  display: block;
  position: absolute;
  background-image: url(./images/Customer-reviews/quotes-min.png);
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  width: 54px;
  height: 40px;
  top: 28px;
  left: 62px;
}
.reviews--client {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.85;
  position: relative;
}
.reviews--client::before {
  background-repeat: no-repeat;
  width: 32px;
  height: 4px;
  position: absolute;
  top: -18px;
  left: 42px;
}
@media (min-width: 768px) {
  .reviews--client::before {
    top: -13px;
  }
}
@media (min-width: 1200px) {
  .reviews--client::before {
    top: -15px;
  }
}
.reviews--options {
  margin-top: 30px;
  display: flex;
  gap: 18px;
}
.reviews--options__svg {
  width: 12px;
  height: 12px;
}

.footer {
  background-color: #FFF5F6;
  width: 100%;
  margin: auto;
  padding: 0 15px;
  padding-top: 113px;
}
.footer-first {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}
.footer-first__titles {
  font-family: "Titan One";
  min-width: 14.625rem;
  max-width: 14.625rem;
  margin-bottom: 43px;
}
.footer-first__title {
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
  padding-bottom: 1rem;
}
.footer-first__title-second {
  font-size: 34px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #d41443;
}
.footer-first__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: end;
  align-items: flex-end;
  margin-bottom: 43px;
}
.footer-first__socials {
  display: flex;
  gap: 28px;
}
.footer-first__socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.footer-first__social {
  color: white;
  background-color: #FEA5BB;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-first__social:hover {
  background-color: #D41443;
}
.footer-first__social:focus {
  background-color: #D41443;
}
.footer-first__social-icon {
  fill: currentColor;
}
.footer-first__contact {
  padding-top: 3rem;
  font-size: 0.75rem;
  line-height: 1.86;
  font-weight: 700;
}
.footer-first__contact-title {
  display: inline-block;
}
.footer-first__contact-link {
  display: inline-block;
  text-decoration: none;
  color: #d41443;
}
.footer-second {
  width: 100%;
  border-top: 1px solid #E1E1E1;
  color: #907e82;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1.375rem;
  padding-bottom: 1.5625rem;
}
.footer-second p {
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  width: 100%;
  max-width: 150px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-top: 165px;
  }
  .footer-first {
    flex-direction: row;
  }
  .footer-first__titles {
    font-size: 1.625rem;
    margin-left: 36px;
    margin-bottom: 91px;
  }
  .footer-first__title {
    font-size: 26px;
    line-height: 1.15;
  }
  .footer-first__title-second {
    font-size: 48px;
  }
  .footer-first__contacts {
    margin-right: 36px;
  }
  .footer-second p {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer-first {
    max-width: 80rem;
    flex-direction: row;
  }
  .footer-first__titles {
    max-width: 474px;
    margin-bottom: 97px;
  }
  .footer-first__title {
    font-size: 30px;
    line-height: 1.13;
  }
  .footer-first__title-second {
    font-size: 58px;
  }
  .footer-second p {
    width: 100%;
    max-width: 100%;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h4,
h5,
p,
ul,
address,
fieldset,
textarea,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  resize: none;
}

body {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.header {
  background-color: #ffb8ca;
  padding-top: 6px;
  height: 502px;
  /*   @media screen and (min-width: $tablet) {
    height: 399px;
    padding-top: 37px;
  }

  @media screen and (min-width: $laptop) {
    height: 665px;
    padding-top: 37px;
  } */
}
@media screen and (min-width: 768px) {
  .header {
    height: 399px;
    padding-top: 37px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 665px;
    padding-top: 37px;
  }
}
.header__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    width: 1280px;
  }

}
.header__btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 6;
}
@media screen and (min-width: 768px) {
  .header__btn-menu {
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn-menu {
    display: none;
  }
}
.header__desktopmenu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__desktopmenu {
    z-index: 2;
    display: flex;
    gap: 35px;
  }
}
.header__desktopmenu-anchor {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.header__desktopmenu-anchor--active {
  color: #d41443;
}
.header__btn-buy {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__btn-buy {
    z-index: 3;
    display: block;
    padding: 7px 0;
    width: 160px;
    height: 44px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #d41443;
    border-radius: 22px;
    background: #ffffff;
    margin-left: 30px;
  }
  .header__btn-buy:hover, .header__btn-buy:focus {
    background-color: #ecebeb;
  }
}
.header__icon {
  display: inline;
}
.header__box {
  position: absolute;
  margin-top: 137px;
  margin-bottom: 160px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header__box {
    margin-top: 15px;
    margin-bottom: 173px;
  }
}
@media screen and (min-width: 1280px) {
  .header__box {
    margin-top: 84px;
    margin-bottom: 293px;
    margin-left: 115px;
  }
}
.header__flexicon {
  display: flex;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  fill: var(--icon-fill);
}
.header__tittle {
  margin-bottom: 19px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 218px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header__tittle {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 26px;
    max-width: 162px;
  }
}
@media screen and (min-width: 1280px) {
  .header__tittle {
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 44px;
    max-width: 277px;
  }
}
.header__tittle--pink {
  font-size: 48px;
  line-height: 46px;
  color: rgb(212, 20, 67);
}
@media screen and (min-width: 768px) {
  .header__tittle--pink {
    font-size: 34px;
    line-height: 31px;
  }
}
@media screen and (min-width: 1280px) {
  .header__tittle--pink {
    font-size: 58px;
    line-height: 53px;
  }
}
.header__button {
  display: inline;
  padding: 7px 15px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  border-radius: 20px;
  background: #d41443;
}
@media screen and (min-width: 1280px) {
  .header__button {
    padding: 0 22px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
  }
}
.header__button:hover, .header__button:focus {
  background-color: #c7133e;
}
.header__button--white {
  color: #d41443;
  background: #ffffff;
}
.header__button--white:hover, .header__button--white:focus {
  background-color: #ecebeb;
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.header__paragraph {
  display: none;
  width: 119px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #ffffff;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header__paragraph {
    display: block;
    top: 255px;
    left: 154px;
  }
}
@media screen and (min-width: 1280px) {
  .header__paragraph {
    top: 448px;
    left: 295px;
    width: 200px;
    font-size: 14px;
    line-height: 140%;
  }
}
.header__btn-readmore {
  display: none;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header__btn-readmore {
    display: block;
    width: 18px;
    height: 18px;
    padding: 0;
    top: 310px;
    left: 154px;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn-readmore {
    width: 26px;
    height: 26px;
    top: 546px;
    left: 295px;
  }
}
.header__ice {
  -webkit-animation: 1s ease-out 0s 1 slide;
          animation: 1s ease-out 0s 1 slide;
  position: absolute;
  top: 77px;
  left: 36px;
}
@media screen and (min-width: 768px) {
  .header__ice {
    top: -6px;
    left: 307px;
  }
}
@media screen and (min-width: 1280px) {
  .header__ice {
    top: 15px;
    left: 475px;
  }
}
.header__cafes {
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__cafes {
    display: block;
    top: 59px;
    right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header__cafes {
    top: 119px;
    right: 97px;
  }
}
.header__foodtrucks {
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__foodtrucks {
    display: block;
    top: 115px;
    right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header__foodtrucks {
    top: 211px;
    right: 97px;
  }
}
.header__milk {
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__milk {
    display: block;
    top: 208px;
    left: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header__milk {
    top: 392px;
    left: 77px;
  }
}
@-webkit-keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.header__woman {
  -webkit-animation: 1s ease-out 0s 1 animatezoom;
          animation: 1s ease-out 0s 1 animatezoom;
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__woman {
    display: block;
    top: 229px;
    right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header__woman {
    top: 396px;
    right: 109px;
  }
}

/* MOBILE MENU */
.mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 60px 21px;
  background-color: #e17992;
  z-index: 999;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  text-align: center;
}
.mobilemenu__details {
  text-align: left;
}
.mobilemenu.is-open {
  transform: translateX(0);
}
.mobilemenu__closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.mobilemenu__btn-buy {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  width: 209px;
  height: 44px;
  margin-bottom: 32px;
}
.mobilemenu__icon {
  display: inline;
  margin-left: 25px;
}
.mobilemenu__anchor {
  display: block;
  font-style: normal;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 23px;
}
.mobilemenu__anchor--active {
  color: #d41443;
  margin-bottom: 22px;
}
.mobilemenu__anchor:hover, .mobilemenu__anchor:focus {
  color: #d41443;
}

.products {
  background-color: #ffffff;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: auto;
  margin-top: 122px;
}
@media (min-width: 768px) {
  .products {
    max-width: none;
    padding: 0 34px;
  }
}
.products__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  font-family: "Titan One", cursive;
  font-weight: 400;
  margin-bottom: 15px;
}
.products__tittle {
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  font-family: "Titan One", cursive;
  margin-bottom: 144px;
}
@media (min-width: 1280px) {
  .products__tittle {
    margin-bottom: 259px;
  }
}
.products__types {
  display: flex;
  flex-wrap: wrap;
  row-gap: 129px;
}
@media (min-width: 768px) {
  .products__types {
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
  }
}
.products .products-item {
  color: #ffffff;
  width: 100%;
  height: 485px;
  border-radius: 24px;
  text-align: center;
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.products .products-item:last-child {
  margin-bottom: 98px;
}
@media (min-width: 768px) {
  .products .products-item {
    margin-bottom: 112px;
    width: 220px;
  }
}
@media (min-width: 1280px) {
  .products .products-item {
    margin-bottom: 119px;
    width: 329px;
    height: 525px;
  }
}
.products .products-item__description {
  font-family: DM Sans;
  font-weight: 700;
  margin: 30px auto;
  width: 200px;
  line-height: 152%;
}
.products .products-item__button {
  position: absolute;
  background-image: url(../images/Products/arrow-right.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}
.products .products-item__ice {
  background-color: #ffb8ca;
}
.products .products-item__ice::before {
  display: block;
  position: absolute;
  background-image: url(../images/Products/ice_mb@1.png);
  content: "";
  width: 249px;
  height: 252px;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url(../images/Products/ice_mb@2.png);
  }
}
@media (min-width: 768px) {
  .products .products-item__ice::before {
    background-image: url(../images/Products/ice_tb@1.png);
    width: 220px;
    height: 226px;
    bottom: 365px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url(../images/Products/ice_tb@2.png);
  }
}
@media (min-width: 1280px) {
  .products .products-item__ice::before {
    bottom: 390px;
    background-image: url(../images/Products/ice_dt@1.png);
    width: 335px;
    height: 335px;
    bottom: 395px;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url(../images/Products/ice_dt@2.png);
  }
}
.products .products-item__coffee {
  background-color: #f0d1a5;
}
.products .products-item__coffee::before {
  display: block;
  position: absolute;
  background-image: url(../images/Products/cf_mb@1.png);
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  width: 249px;
  height: 252px;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__coffee::before {
    background-image: url(../images/Products/cf_mb@2.png);
  }
}
@media (min-width: 768px) {
  .products .products-item__coffee::before {
    background-image: url(../images/Products/cf_tb@1.png);
    width: 220px;
    height: 226px;
    bottom: 365px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products .products-item__coffee::before {
    background-image: url(../images/Products/cf_tb@2.png);
  }
}
@media (min-width: 1280px) {
  .products .products-item__coffee::before {
    bottom: 390px;
    background-image: url(../images/Products/cf_dt@1.png);
    width: 335px;
    height: 335px;
    bottom: 395px;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .products .products-item__coffee::before {
    background-image: url(../images/Products/cf_dt@2.png);
  }
}
.products .products-item__milkshakers {
  background-color: #c2e297;
}
.products .products-item__milkshakers::before {
  display: block;
  position: absolute;
  background-image: url(../images/Products/ms_mb@1.png);
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  width: 249px;
  height: 252px;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__milkshakers::before {
    background-image: url(../images/Products/ms_mb@2.png);
  }
}
@media (min-width: 768px) {
  .products .products-item__milkshakers::before {
    background-image: url(../images/Products/ms_tb@1.png);
    width: 220px;
    height: 226px;
    bottom: 365px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products .products-item__milkshakers::before {
    background-image: url(../images/Products/ms_tb@2.png);
  }
}
@media (min-width: 1280px) {
  .products .products-item__milkshakers::before {
    bottom: 390px;
    background-image: url(../images/Products/ms_dt@1.png);
    width: 335px;
    height: 335px;
    bottom: 395px;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .products .products-item__milkshakers::before {
    background-image: url(../images/Products/ms_dt@2.png);
  }
}
.products .products-item__tittle {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.86;
  margin-top: 160px;
  text-transform: uppercase;
}
.products .products-item__tittle::after {
  content: "...";
  font-size: 25px;
  color: white;
  display: block;
  letter-spacing: 4px;
  margin-top: 23px;

}/*# sourceMappingURL=main.css.map */