@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.section-bgrcolor {
  background-color: #fff5f6;
  padding-top: 125px;
}

.about {
  background-color: #fff5f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
}
.about__label {
  font-weight: 400;
  font-size: 18px;
  color: #ffa5ba;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.about__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 26px;
  padding-right: 61px;
  padding-left: 59px;
}
.about__important {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  padding: 46px 50px 0 50px;
}
.about__comment {
  background: url(../images/About/Milk-mobile-min.png) no-repeat center bottom;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  padding: 47px 50px 0 50px;
  margin-bottom: 47px;
}

.statistic {
  padding-left: 20px;
  padding-right: 70px;
  margin-top: 38px;
}
.statistic__value {
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.statistic__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
}

.vector {
  height: 8px;
  width: 14px;
  margin-left: 13px;
}

hr {
  visibility: hidden;
}

.advantages-section {
  padding-left: 20px;
  padding-right: 70px;
  margin-top: 38px;
  background-color: #fff5f6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section__icon {
  margin-bottom: 16px;
}
.advantages-section__icon--1 {
  width: 33px;
  height: 50px;
}
.advantages-section__icon--2 {
  width: 44px;
  height: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section__header {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  max-height: 56px;
  margin-bottom: 14px;
}

.advantages-section__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  max-width: 230px;
  margin-bottom: 36px;
}
.advantages-section__description :last-child {
  bottom: 36px;
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-left: 36px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section__item {
    margin-top: 38px;
  }
}
.contacts {
  margin: 0 auto;
  background-color: rgb(255, 245, 246);
}
.contacts__title {
  display: none;
}
.contacts__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 0;
  padding: inherit;
  width: 100%;
}
.contacts__list--element {
  width: 100%;
  width: 220px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  margin: 0 auto;
  position: relative;
  top: -84px;
}
@media (min-width: 768px) {
  .contacts__list--element {
    width: 220px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .contacts__list--element {
    width: 330px;
  }
}
.contacts__list--page {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 43px;
  padding-bottom: 43px;
}
@media (min-width: 768px) {
  .contacts__list--page {
    padding-left: 31px;
    padding-right: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .contacts__list--page {
    padding-left: 44px;
    padding-right: 54px;
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
.contacts__paragraf1 {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .contacts__paragraf1 {
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf1 {
    padding-bottom: 32px;
  }
}
.contacts__paragraf1--cafe {
  background: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 86;
}
@media (min-width: 768px) {
  .contacts__paragraf1--cafe {
    width: 73px;
    height: 28px;
    font-size: 16px;
  }
}
.contacts__paragraf1--foodtruck {
  background: #c2e297;
  border-radius: 4px;
  width: 130px;
  height: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 86;
}
@media (min-width: 768px) {
  .contacts__paragraf1--foodtruck {
    width: 138px;
    height: 28px;
    font-size: 16px;
  }
}
.contacts__paragraf1--location {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.contacts__paragraf1--text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #907e82;
}
.contacts__paragraf2 {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 25px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .contacts__paragraf2 {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf2 {
    padding-top: 32px;
    padding-bottom: 17px;
  }
}
.contacts__paragraf2--days {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.contacts__paragraf2--hours {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFA5BA;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .contacts__paragraf2--hours {
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .contacts__paragraf2--hours {
    padding-bottom: 15px;
  }
}
.contacts__paragraf3 {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .contacts__paragraf3 {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__paragraf3 {
    padding-top: 32px;
  }
}
.contacts__paragraf3--element {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}
.contacts__button {
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 220px;
  padding: inherit;
}
@media (min-width: 768px) {
  .contacts__button {
    flex-wrap: nowrap;
  }
}
.contacts__button--list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
.contacts__button--element {
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 161px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  color: #d41443;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
}
@media (min-width: 1200px) {
  .contacts__button--element {
    width: 180px;
  }
}
.contacts__button--element:hover .contacts__button--element:focus {
  background: #D41443;
  color: #FFFFFF;
}
.contacts__button--icon {
  fill: currentColor;
  width: 4px;
  height: 8px;
}

.footer {
  background-color: #fff5f6;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
.footer-first {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-first__titles {
  font-family: 'Titan One';
  min-width: 14.625rem;
  max-width: 14.625rem;
  padding-left: 1.25rem rem;
}
.footer-first__title {
  font-size: 1.125rem;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffa5ba;
  padding-bottom: 1rem;
}
.footer-first__title-second {
  font-size: 2.125rem;
  line-height: 1.15;
  text-transform: uppercase;
  color: #d41443;
}
.footer-first__contacts {
  padding-top: 2.6875rem;
  padding-left: 4.375rem;
  padding-bottom: 2.6875rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: end;
  align-items: flex-end;
}
.footer-first__socials {
  display: flex;
  gap: 1.75rem;
}
.footer-first__socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.footer-first__social {
  color: white;
  background-color: #fea5bb;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-first__social:hover {
  background-color: #d41443;
}
.footer-first__social:focus {
  background-color: #d41443;
}
.footer-first__social-icon {
  fill: currentColor;
}
.footer-first__contact {
  padding-top: 3rem;
  font-size: 0.75rem;
  line-height: 1.86;
  font-weight: 700;
}
.footer-first__contact-title {
  display: inline-block;
}
.footer-first__contact-link {
  display: inline-block;
  text-decoration: none;
  color: #d41443;
}
.footer-second {
  width: 100%;
  border-top: 1px solid #e1e1e1;
  color: #907e82;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1.375rem;
  padding-bottom: 1.5625rem;
}
.footer-second p {
  font-size: 14px;
  line-height: 152%;
  width: 100%;
  max-width: 170px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-first {
    max-width: 48rem;
  }
  .footer-first__titles {
    max-width: 23.5rem;
    padding-bottom: 5.6875rem;
    padding-left: 2.25rem;
    font-size: 1.625rem;
  }
  .footer-first__contacts {
    padding: 0 2.25rem 5.6875rem rem 0;
  }
  .footer-second p {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .footer__firstArea {
    max-width: 80rem;
  }
  .footer-first__titles {
    max-width: 36.75rem;
    padding-bottom: 6rem;
    padding-left: 7.125rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h4,
h5,
p,
ul,
address,
fieldset,
textarea,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  resize: none;
}

body {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.header {
  background-color: #ffb8ca;
  padding-top: 6px;
  height: 502px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 399px;
    padding-top: 37px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 665px;
    padding-top: 37px;
  }
}
.header__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    width: 1280px;
  }
}
.header__btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 6;
}
@media screen and (min-width: 768px) {
  .header__btn-menu {
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn-menu {
    display: none;
  }
}
.header__btn-buy {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__btn-buy {
    z-index: 3;
    display: block;
    padding: 7px 0;
    width: 160px;
    height: 44px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #d41443;
    border-radius: 22px;
    background: #ffffff;
    margin-left: 30px;
  }
  .header__btn-buy:hover,
  .header__btn-buy:focus {
    background-color: #ecebeb;
  }
}
.header__icon {
  display: inline;
}
.header__box {
  position: absolute;
  margin-top: 137px;
  margin-bottom: 160px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header__box {
    margin-top: 15px;
    margin-bottom: 173px;
  }
}
.header__flexicon {
  display: flex;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  fill: var(--icon-fill);
}
.header__tittle {
  margin-bottom: 19px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 218px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header__tittle {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 26px;
  }
}
.header__tittle--pink {
  font-size: 48px;
  line-height: 46px;
  color: rgb(212, 20, 67);
}
@media screen and (min-width: 768px) {
  .header__tittle--pink {
    font-size: 34px;
    line-height: 31px;
  }
}
.header__button {
  display: inline;
  padding: 7px 15px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  border-radius: 20px;
  background: #d41443;
}
.header__button:hover,
.header__button:focus {
  background-color: #c7133e;
}
.header__button--white {
  color: #d41443;
  background: #ffffff;
}
.header__button--white:hover,
.header__button--white:focus {
  background-color: #ecebeb;
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.header__ice {
  -webkit-animation: 1s ease-out 0s 1 slide;
  animation: 1s ease-out 0s 1 slide;
  position: absolute;
  top: 77px;
  left: 36px;
}
@media screen and (min-width: 768px) {
  .header__ice {
    top: -6px;
    left: 307px;
  }
}
@media screen and (min-width: 1280px) {
  .header__ice {
    top: 15px;
    left: 475px;
  }
}

/* MOBILE MENU */
.mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 60px 21px;
  background-color: #e17992;
  z-index: 999;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  text-align: center;
}
.mobilemenu__details {
  text-align: left;
}
.mobilemenu.is-open {
  transform: translateX(0);
}
.mobilemenu__closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.mobilemenu__btn-buy {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  width: 209px;
  height: 44px;
  margin-bottom: 32px;
}
.mobilemenu__icon {
  display: inline;
  margin-left: 25px;
}
.mobilemenu__anchor {
  display: block;
  font-style: normal;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 23px;
}
.mobilemenu__anchor--active {
  color: #d41443;
  margin-bottom: 22px;
}
.mobilemenu__anchor:hover,
.mobilemenu__anchor:focus {
  color: #d41443;
}

.products {
  background-color: #ffffff;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: auto;
  margin-top: 122px;
}
@media (min-width: 768px) {
  .products {
    max-width: none;
    padding: 0 34px;
  }
}
.products__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  margin-bottom: 15px;
}
.products__tittle {
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  font-family: 'Titan One', cursive;
  margin-bottom: 144px;
}
.products__types {
  display: flex;
  flex-wrap: wrap;
  row-gap: 129px;
}
@media (min-width: 768px) {
  .products__types {
    -moz-column-gap: 20px;
    column-gap: 20px;
    justify-content: center;
  }
}
.products .products-item {
  color: #ffffff;
  width: 100%;
  height: 485px;
  border-radius: 24px;
  text-align: center;
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.products .products-item:last-child {
  margin-bottom: 98px;
}
@media (min-width: 768px) {
  .products .products-item {
    margin-bottom: 112px;
    width: 220px;
  }
}
@media (min-width: 1280px) {
  .products .products-item {
    margin-bottom: 119px;
    width: 329px;
    height: 525px;
  }
}
.products .products-item__description {
  font-family: DM Sans;
  font-weight: 700;
  margin: 30px auto;
  width: 200px;
  line-height: 152%;
}
.products .products-item__button {
  position: absolute;
  background-image: url(../images/products/arrow-right.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}
.products .products-item__ice {
  background-color: #ffb8ca;
}
.products .products-item__ice::before {
  display: block;
  position: absolute;
  background-image: url(../images/products/ice/ice_mb@1.png);
  content: '';
  width: 249px;
  height: 252px;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url(../images/products/ice/ice_mb@2.png);
  }
}
@media (min-width: 768px) {
  .products .products-item__ice::before {
    background-image: url(../images/products/ice/ice_tb@1.png);
    width: 220px;
    height: 226px;
    bottom: 365px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url(../images/products/ice/ice_tb@2.png);
  }
}
@media (min-width: 1280px) {
  .products .products-item__ice::before {
    bottom: 390px;
    background-image: url(../images/products/ice/ice_dt@1.png);
    width: 335px;
    height: 335px;
    bottom: 395px;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url(../images/products/ice/ice_dt@2.png);
  }
}
.products .products-item__coffee {
  background-color: #f0d1a5;
}
.products .products-item__coffee::before {
  display: block;
  position: absolute;
  background-image: url(../images/products/coffee/cf_mb@1.png);
  background-repeat: no-repeat;
  content: '';
  width: 249px;
  height: 252px;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-width: 1280px) {
  .products .products-item__coffee::before {
    bottom: 390px;
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products .products-item__coffee {
    background-image: url url(../images/products/coffee/cf_mb@2.png);
  }
}
.products .products-item__milkshakers {
  background-color: #c2e297;
}
.products .products-item__milkshakers::before {
  display: block;
  position: absolute;
  background-image: url(../images/products/milkshakes/ms_mb@1.png);
  background-repeat: no-repeat;
  content: '';
  width: 249px;
  height: 252px;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-width: 1280px) {
  .products .products-item__milkshakers::before {
    bottom: 390px;
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products .products-item__milkshakers {
    background-image: url(../images/products/milkshakes/ms_mb@2.png);
  }
}
.products .products-item__tittle {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.86;
  margin-top: 160px;
  text-transform: uppercase;
}
.products .products-item__tittle::after {
  content: '...';
  font-size: 25px;
  color: white;
  display: block;
  letter-spacing: 4px;
  margin-top: 23px;
}

.button__mobilemenu {
  display: flex;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background: #fff;
  border: none;
  align-items: center;
  justify-content: center;
  color: #d41443;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;
  display: flex;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background: #fff;
  border: none;
  align-items: center;
  justify-content: center;
  color: #d41443;
}

.button__products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61.2px;
  height: 24px;
  background: #d41443;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61.2px;
  height: 24px;
  background: #d41443;
  border: none;
  border-radius: 20px;
  color: #fff;
}

.button__howitsmade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82.8px;
  height: 24px;
  background: #fff;
  border: none;
  border-radius: 20px;
  color: #d41443;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}

.button__readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 44px;
  background: #fff;
  border: none;
  border-radius: 22px;
  color: #d41443;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
}

.button__ourlocation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161.45px;
  height: 44px;
  background: #d41443;
  border: none;
  border-radius: 22px;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82.8px;
  height: 24px;
  background: #fff;
  border: none;
  border-radius: 20px;
  color: #d41443;
}

.button__readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 44px;
  background: #fff;
  border: none;
  border-radius: 22px;
  color: #d41443;
  font-weight: 700;
}

.button__ourlocation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161.45px;
  height: 44px;
  background: #d41443;
  border: none;
  border-radius: 22px;
  color: #fff;
}

.button__franchise {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161.45px;
  height: 44px;
  background: #fff;
  border: none;
  border-radius: 22px;
  color: #d41443;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161.45px;
  height: 44px;
  background: #fff;
  border: none;
  border-radius: 22px;
  color: #d41443;
}

.button__mobilemenu:hover,
.button__howitsmade:hover,
.button__readmore:hover,
.button__franchise:hover {
  background: #ecebeb;
  cursor: pointer;
}

.button__mobilemenu:focus,
.button__howitsmade:focus,
.button__readmore:focus,
.button__franchise:focus {
  background: #ecebeb;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h4,
h5,
p,
ul,
address,
fieldset,
textarea,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  resize: none;
}

body {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.container {
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}/*# sourceMappingURL=main.css.map */