@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.products {
  background-color: #ffffff;
  padding: 0 20px;
}
.products__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  font-family: Titan One;
  font-weight: 400;
  margin-bottom: 15px;
}
.products__tittle {
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 144px;
}
.products .products-item {
  background-color: #ffb8ca;
  color: #ffffff;
  max-width: 100%;
  height: 30rem;
  -moz-column-gap: 16px;
       column-gap: 16px;
  border-radius: 24px;
  text-align: center;
  padding: 140px 20px;
  position: relative;
}
.products .products-item__tittle {
  font-weight: 400;
  font-size: 20px;
  line-height: 0.86;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.products .products-item__tittle::before {
  display: block;
  position: absolute;
  background-image: url(../images/products/ice/ice_mb@1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 249px;
  height: 252px;
  bottom: 375px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__tittle::before {
    background-image: url(../images/products/ice/ice_mb@2.png);
  }
}
@media (min-width: 768px) {
  .products .products-item__tittle::before {
    background-image: url(../images/products/ice/ice_tb@1.png);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__tittle::before {
    background-image: url(../images/products/ice/ice_tb@2.png);
  }
}
@media (min-width: 1280px) {
  .products .products-item__tittle::before {
    background-image: url(../images/products/ice/ice_dt@1.png);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__tittle::before {
    background-image: url(../images/products/ice/ice_dt@2.png);
  }
}
.products .products-item__tittle__tittle:after {
  position: absolute;
}
.products .products-item__description {
  font-family: DM Sans;
  font-weight: 700;
  margin: auto;
  width: 200px;
  line-height: 152%;
}

body {
  font-family: DM Sans, sans-serif;
  background-color: #fff5f6;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Titan One";
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  padding: 0 36px;
}

:root {
  --brand-color-dark-grey: #212121;
  --brand-color-white: #ffffff;
  --brand-color-grey: #757575;
  --brand-color-blue: #2196f3;
  --brand-color-black: #000000;
  --brand-color-background-black: #2f303a;
  --brand-color-light-grey: #f5f4fa;
  --brand-color-bg-hero: #2f303a66;
  --brand-color-bg-footer-icon: #ffffff1a;
  --brand-color-icon: #afb1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */