<div class="container section-bgrcolor">
  <div>
    <p>tradition and love</p>
    <h2>how it’s made?</h2>
    <picture>
      <source
        srcset="./images/About/Cow-desktop-min.png 1x, ./images/About/Cow-desktop@2x-min.png 2x"
        media="(min-width: 1200px)"
      />

      <source
        srcset="./images/About/Cow-tablet-min.png 1x, ./images/About/Cow-tablet@2x-min.png 2x"
        media="(min-width: 768px)"
      />

      <img srcset="./images/About/Cow-mobile-min.png 1x, ./images/About/Cow-mobile@2x-min.png 2x" />
    </picture>
    <p>
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <span class="bgr-img"
      >Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</span
    >
    <button class="button__howitsmade">Read more</button>
  </div>
  <div>
    <div>
      <img srcset="./images/About/icon1-min.png 1x, ./images/About/icon1@x2-min.png 2x" />
      <p>721</p>
      <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
    </div>
    <div>
      <img srcset="./images/About/icon2-min.png 1x, ./images/About/icon2@2x-min.png 2x" />
      <p>16KG</p>
      <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
    </div>
    <div>
      <img srcset="./images/About/icon3-min.png 1x, ./images/About/icon3@2x-min.png 2x" />
      <p>84</p>
      <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
    </div>
  </div>
</div>
