<div class="container section-bgrcolor">
  <div class="about">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <picture>
      <source
        srcset="./images/About/Cow-desktop-min.png 1x, ./images/About/Cow-desktop@2x-min.png 2x"
        media="(min-width: 1200px)"
      />

      <source
        srcset="./images/About/Cow-tablet-min.png 1x, ./images/About/Cow-tablet@2x-min.png 2x"
        media="(min-width: 768px)"
      />

      <img srcset="./images/About/Cow-mobile-min.png 1x, ./images/About/Cow-mobile@2x-min.png 2x" />
    </picture>
    <p class="about__important">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <span class="bgr-img about__comment"
      >Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt.
      <hr />
      Aliquam erat volutpat. Aenean accumsan.</span
    >
    <button class="button__readmore">
      Read more<svg class="vector">
        <use href="/src/images/spirte.svg#icon-Vector"></use>
      </svg>
    </button>
  </div>
  <div>
    <div class="statistic">
      <img
        class="statistic__image"
        srcset="./images/About/icon1-min.png 1x, ./images/About/icon1@x2-min.png 2x"
      />
      <p class="statistic__value">721</p>
      <span class="statistic__text"
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
      >
    </div>
    <div class="statistic">
      <img
        class="statistic__image"
        srcset="./images/About/icon2-min.png 1x, ./images/About/icon2@2x-min.png 2x"
      />
      <p class="statistic__value">16KG</p>
      <span class="statistic__text"
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
      >
    </div>
    <div class="statistic">
      <img
        class="statistic__image"
        srcset="./images/About/icon3-min.png 1x, ./images/About/icon3@2x-min.png 2x"
      />
      <p class="statistic__value">84</p>
      <span class="statistic__text"
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
      >
    </div>
  </div>
</div>
