<div class="section-bgrcolor">
  <p class="about__label">tradition and love</p>
  <h2 class="about__title" id="about">how it’s made?</h2>
  <div class="about">
    <picture>
      <source
        srcset="./images/About/Cow-desktop-min.png 1x, ./images/About/Cow-desktop@2x-min.png 2x"
        media="(min-width: 1280px)"
      />

      <source
        srcset="./images/About/Cow-tablet-min.png 1x, ./images/About/Cow-tablet@2x-min.png 2x"
        media="(min-width: 768px)"
      />

      <img srcset="./images/About/Cow-mobile-min.png 1x, ./images/About/Cow-mobile@2x-min.png 2x" />
    </picture>

    <p class="about__important">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <span class="about__comment">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. <br /><br />Aliquam erat volutpat. Aenean accumsan.</span
    >
  </div>
  <div class="bttn">
    <button class="button__howitsmade bttn" id="btn_rdmore">
      Read more<svg class="vector">
        <use href="./images/spirte.svg#icon-vencerero"></use>
      </svg>
    </button>
  </div>
</div>
