<div class="advantages-section">
  <h2 class="visually-hidden">Advantages</h2>
  <ul class="advantages-section__list">
    <li class="advantages-section__item">
      <img
        class="advantages-section__icon1"
        src="./images/Advantages/adv-icon1.png"
        srcset="./images/Advantages/adv-icon1.png x1,
        ./images/Advantages/adv-icon1@2.png x2"
      />
      <h3 class="advantages-section__header">721</h3>
      <p class="advantages-section__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-section__item">
      <img
        class="advantages-section__icon2"
        src="./images/Advantages/adv-icon2.png"
        srcset="./images/Advantages/adv-icon2.png x1,
        ./images/Advantages/adv-icon2@2.png x2"
      />
      <h3 class="advantages-section__header">16KG</h3>
      <p class="advantages-section__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-section__item">
      <img
        class="advantages-section__icon3"
        src="./images/Advantages/adv-icon3.png"
        srcset="./images/Advantages/adv-icon3.png x1,
        ./images/Advantages/adv-icon3@2.png x2"
      />
      <h3 class="advantages-section__header">84</h3>
      <p class="advantages-section__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</div>
