<div class="advantages-section">
  <h2 class="visually-hidden">Advantages</h2>
  <ul>
    <li>
      <img src="src\images\Advantages\adv-icon1.png" />
      <h3 class="advantages-section__header">721</h3>
      <p class="advantages-section__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li>
      <img src="src\images\Advantages\adv-icon2.png" />
      <h3 class="advantages-section__header">16KG</h3>
      <p class="advantages-section__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li>
      <img src="src\images\Advantages\adv-icon3.png" />
      <h3 class="advantages-section__header">84</h3>
      <p class="advantages-section__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</div>
