<div class="contacts">
  <h1 class="contacts__title">Contacts</h1>
  <ul class="contacts__list">
    <li class="contacts__list--element">
      <ul class="contacts__list--page" id="contacts">
        <li class="contacts__paragraf1">
          <p class="contacts__paragraf1--cafe">CAFE</p>
          <p class="contacts__paragraf1--location">Chicago</p>
          <p class="contacts__paragraf1--text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__paragraf2">
          <p class="contacts__paragraf2--days">Monday - Friday</p>
          <p class="contacts__paragraf2--hours">06:00 AM - 10:00 PM</p>
          <p class="contacts__paragraf2--days">Saturday - Sunday</p>
          <p class="contacts__paragraf2--hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__paragraf3">
          <a class="contacts__paragraf3--element" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__paragraf3--element" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li class="contacts__list--element">
      <ul class="contacts__list--page">
        <li class="contacts__paragraf1">
          <p class="contacts__paragraf1--foodtruck">FOOD TRUCK</p>
          <p class="contacts__paragraf1--location">Los Angeles</p>
          <p class="contacts__paragraf1--text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__paragraf2">
          <p class="contacts__paragraf2--days">Monday - Friday</p>
          <p class="contacts__paragraf2--hours">06:00 AM - 10:00 PM</p>
          <p class="contacts__paragraf2--days">Saturday - Sunday</p>
          <p class="contacts__paragraf2--hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__paragraf3">
          <a class="contacts__paragraf3--element" href="tel:+61(0) 383 766 284">
            +61(0) 383 766 284
          </a>
          <a class="contacts__paragraf3--element" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li class="contacts__list--element">
      <ul class="contacts__list--page">
        <li class="contacts__paragraf1">
          <p class="contacts__paragraf1--cafe">CAFE</p>
          <p class="contacts__paragraf1--location">New York</p>
          <p class="contacts__paragraf1--text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__paragraf2">
          <p class="contacts__paragraf2--days">Monday - Friday</p>
          <p class="contacts__paragraf2--hours">06:00 AM - 10:00 PM</p>
          <p class="contacts__paragraf2--days">Saturday - Sunday</p>
          <p class="contacts__paragraf2--hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__paragraf3">
          <a class="contacts__paragraf3--element" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__paragraf3--element" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <ul class="contacts__button">
    <li class="contacts__button--list">
      <button class="contacts__button--element" type="button" data-modal-open>
        Our Locations
        <svg class="contacts__button--icon">
          <use href="./images/spirte.svg#contacts-vector"></use>
        </svg>
      </button>
    </li>
    <li class="contacts__button--list">
      <button class="contacts__button--element" type="button" data-modal-open>
        Franchise

        <svg class="contacts__button--icon">
          <use href="./images/spirte.svg#contacts-vector"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
