<section class="reviews">

    <img
      class="reviews--img"
      src="../images/Customer-reviews/Customer-pic.png"
      alt="Happy Emilly :D"
      srcset="
        ../images/Customer-reviews/Customer-pic.png,
        ../images/Customer-reviews/Customer-pic@x2.png
      "
    />
  
    <div class="reviews--description">
      <p class="reviews--description__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <img
        class="reviews--description__quotes"
        src="../images/Customer-reviews/quotes.png"
        srcset="../images/Customer-reviews/quotes.png, ../images/Customer-reviews/quotes@2x.png"
      />
    </div>
  
    <div class="reviews--client"><p>Emily, Los Angeles</p></div>
  
    <div class="reviews--options">
      <svg class="reviews--options__svg"><use href="../images/sprite.svg#home-icon"></use></svg>
      <svg class="reviews--options__svg"><use href="../images/sprite.svg#icon-dot"></use></svg>
      <svg class="reviews--options__svg"><use href="../images/sprite.svg#icon-dot"></use></svg>
    </div>
  </section>
  
  

  <!-- <img
    class="reviews--img"
    src="./images/Customer-reviews/Customer-pic-min.png"
    alt="Happy Emilly :D"
    srcset="
      ./images/Customer-reviews/Customer-pic-min.png,
      ./images/Customer-reviews/Customer-pic@x2-min.png
    "
  /> -->

  <div class="reviews--description">
    <p class="reviews--description__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <!-- <img
      class="reviews--description__quotes"
      src="./images/Customer-reviews/quotes-min.png"
      srcset="./images/Customer-reviews/quotes-min.png, ./images/Customer-reviews/quotes@2x-min.png"
    /> -->
  </div>

  <div class="reviews--client"><p>Emily, Los Angeles</p></div>

  <div class="reviews--options">
    <svg class="reviews--options__svg"><use href="./images/spirte.svg#icon-Home-icon"></use></svg>
    <svg class="reviews--options__svg"><use href="./images/spirte.svg#icon-dot"></use></svg>
    <svg class="reviews--options__svg"><use href="./images/spirte.svg#icon-dot"></use></svg>
  </div>
</section>
