<section class="reviews">
  <img
    src="./images/Customer-reviews/Customer-pic-min.png"
    min-width="85"
    alt="Happy Emilly :D"
    srcset="
      ./images/Customer-reviews/Customer-pic-min.png     85w,
      ./images/Customer-reviews/Customer-pic@x2-min.png 170w
    "
    sizes=" 85px, 100vw"
  />

  <div class="reviews__description">
    <p class="reviews__description--text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>

  <div class="reviews__client"><p>Emily, Los Angeles</p></div>

  <div class="reviews__options">
    <svg class="reviews__options--svg"><use href="./images/spirte.svg#icon-Home-icon"></use></svg>
    <svg class="reviews__options--svg"><use href="./images/spirte.svg#icon-dot"></use></svg>
    <svg class="reviews__options--svg"><use href="./images/spirte.svg#icon-dot"></use></svg>
  </div>
</section>
