<footer class="footer">
  <div class="footer-first">
    <div class="footer-first__titles">
      <p class="footer-first__title">HOMEMADE ICE CREAM MADE</p>
      <p class="footer-first__title-second">WITH PASSION</p>
    </div>

    <div class="footer-first__contacts">
      <div class="footer-first__socials">
        <ul class="footer-first__socials-list">
          <li>
            <a href="https://github.com/" target="blank" class="footer-first__social">
              <svg width="32" height="32" class="footer-first__social-icon">
                <use href="/src/images/spirte.svg#icon-github"></use></svg
            ></a>
          </li>
          <li>
            <a href="https://telegram.org//" target="blank" class="footer-first__social">
              <svg width="32" height="32" class="footer-first__social-icon">
                <use href="/src/images/spirte.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com//" target="blank" class="footer-first__social">
              <svg width="32" height="32" class="footer-first__social-icon">
                <use href="/src/images/spirte.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer-first__contact">
        <p class="footer-first__contact-title">Feel free to contact</p>
        <a class="footer-first__contact-link" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <!-- <second> -->

  <div class="footer-second">
    <p>© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
