<section class="gallery">
  <picture>
    <source
      srcset="./images/Gallery/Gallery-mobile-min.png x1, ./images/Gallery/Gallery-mobile@x2-min.png x2"
      media="(min-width: $mobile)"
    />
    <source
      srcset="./images/Gallery/Gallery-tablet-min.png x1, ./images/Gallery/Gallery-tablet@x2-min.png x2"
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/Gallery/Gallery-desktop-min.png x1, ./images/Gallery/Gallery-desktop@x2-min.png x2"
      media="(min-width: $laptop)"
    />
    <img src="./images/Gallery/Gallery-mobile-min.png" alt="gallery" class="gallery__img" />
  </picture>
</section>
