<div class="products">
  <p class="products__label">100% natural</p>
  <h2 class="products__tittle">products</h2>
  <ul class="products__types">
    <li class="products-item products-item__primary">
      <h3 class="products-item__tittle">ice cream</h3>
      <p class="products-item__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button type="button" class="products-item__button">
        <img src="images/products/arrow-right.png" alt="strzałka w prawo" width="40" hight="40" />
      </button>
    </li>

    <li class="products-item products-item__primary">
      <h3 class="products-item__tittle">ice cream</h3>
      <p class="products-item__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="#" class="products-item__button">
        <img src="images/products/arrow-right.png" alt="strzałka w prawo" width="40" hight="40"
      /></a>
    </li>

    <li class="products-item products-item__primary">
      <h3 class="products-item__tittle">ice cream</h3>
      <p class="products-item__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="#" class="products-item__button">
        <img src="images/products/arrow-right.png" alt="strzałka w prawo" width="40" hight="40"
      /></a>
    </li>
  </ul>
</div>
