<div class="products">
  <p class="products__label">100% natural</p>
  <h2 class="products__tittle">products</h2>
  <ul class="products__types">
    <li class="products-item">
      <img
        class="ice-cream"
        srcset="
          ./images/products/ice/ice_mb@1.jpg 249w,
          ./images/products/ice/ice_mb@2.jpg 498w,
          ./images/products/ice/ice_tb@1.jpg 220w,
          ./images/products/ice/ice_tb@2.jpg 440w,
          ./images/products/ice/ice_dt@1.jpg 335w,
          ./images/products/ice/ice_dt@2.jpg 670w
        "
        sizes="(min-width:1280px) 335px, (min-width:768px) 220px,(min-width: 480px) 249px, 100vw"
        min-width="220px"
        src="./images/products/ice/ice_mb@1.jpg"
        alt="lody w rożku"
      />
      <h3 class="products-item__tittle">ice cream</h3>

      <p class="products-item__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button type="button">
        <svg
          class="products-item__svg"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
        >
          <title>arrow-right</title>
          <path
            d="M19.414 27.414l10-10c0.781-0.781 0.781-2.047 0-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l6.586 6.586h-19.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h19.172l-6.586 6.586c-0.39 0.39-0.586 0.902-0.586 1.414s0.195 1.024 0.586 1.414c0.781 0.781 2.047 0.781 2.828 0z"
          ></path>
          >
        </svg>
      </button>
    </li>
  </ul>
</div>
