.button__mobilemenu {
    display: flex;
    width: 209px;
    height: 44px;
    border-radius: 22px;
    background: #fff;
    border: none;
    align-items: center;
    justify-content: center;
    color: #D41443;
font-family: $MainFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.312;
}


.button__products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61.2px;
    height: 24px;
    background: #D41443;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: $MainFont;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
}


.button__howitsmade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.8px;
    height: 24px;
    background: #fff;
    border: none;
    border-radius: 20px;
    color: #D41443;
    font-family: $MainFont;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;

}

.button__readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 44px;
    background: #fff;
    border: none;
    border-radius: 22px;
    color: #D41443;
    font-family: $MainFont;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.285;

}

.button__ourlocation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161.45px;
    height: 44px;
    background: #D41443;
    border: none;
    border-radius: 22px;
    color: #fff;
    font-family: $MainFont;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.312;
}



.button__franchise {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161.45px;
    height: 44px;
    background: #fff;
    border: none;
    border-radius: 22px;
    color: #D41443;
    font-family: $MainFont;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.312;
}

.button__mobilemenu:hover,
.button__howitsmade:hover,
.button__readmore:hover,
.button__franchise:hover {
    background: #ECEBEB;
    cursor: pointer;
}

.button__mobilemenu:focus,
.button__howitsmade:focus,
.button__readmore:focus,
.button__franchise:focus {
    background: #ECEBEB;
    cursor: pointer;
}